<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mod09_4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mod09_4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Mod09_4.Properties.Settings>
            <setting name="Owner" serializeAs="String">
                <value/>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
        </Mod09_4.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Mod09_4.Properties.Settings>
            <setting name="Department" serializeAs="String">
                <value>軟體開發部</value>
            </setting>
        </Mod09_4.Properties.Settings>
    </applicationSettings>
</configuration>
